.env
node_modules
yarn-error.log
db

# Foundry files
cache-forge/
artifacts-forge/
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# coverage files
coverage/
coverage-forge/
lcov.info
coverage.json

# Hardhat files
cache
artifacts

# Typescript
dist
typechain
typechain-truffle
typechain-web3

# misc
nul
.DS_Store
simulation-accounts.json

# slither
slither.json